<!DOCTYPE html>
<html>
    <head>
        <title>Websocket Demo</title>
           <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>
    <body>
        <div class="container mt-3">
            <h1>FastAPI WebSocket Chat</h1>
            <h2>Your ID: <span id="ws-id"></span></h2>
            <label for="group">Group:</label>
            <div>
                <button
                    id="group1-btn"
                    class="btn btn-outline-primary mt-2"
                    onclick="connectWebSocket('group1')">Join Group 1
                </button>
                <button 
                    id="group2-btn"
                    class="btn btn-outline-primary mt-2"
                    onclick="connectWebSocket('group2')">Join Group 2
                </button>
                <button 
                    class="btn btn-outline-primary mt-2" 
                    onclick="leaveGroup()">Leave Group
                </button>
            </div>
            <form action="" onsubmit="sendMessage(event)">
                <input type="text" class="form-control" id="messageText" autocomplete="off"/>
                <button class="btn btn-outline-primary mt-2">Send</button>
            </form>
            <ul id='messages' class="mt-5">
            </ul>
            
        </div>
    
        <script>
            var client_id = Date.now();
            var currentGroup = '';
            var ws = null;

            function connectWebSocket(group) {
                // Cierra la conexión anterior si existe
                if (ws) {
                    ws.close(); // Cierra la conexión anterior si existe
                }
                currentGroup = group;
                ws = new WebSocket(`ws://localhost:8000/ws/${group}/${client_id}`);
                ws.onmessage = function(event) {
                    var messages = document.getElementById('messages');
                    var message = document.createElement('li');
                    var content = document.createTextNode(event.data);
                    message.appendChild(content);
                    messages.appendChild(message);
                };

                // Actualizar el estilo de los botones
                document.getElementById('group1-btn').classList.remove('selected');
                document.getElementById('group2-btn').classList.remove('selected');
                document.getElementById(group + '-btn').classList.add('selected');
            }

            function leaveGroup() {
                if (ws) {
                    ws.close();
                    ws = null;
                    currentGroup = '';
                    // Limpiar mensajes o realizar otras acciones necesarias
                }
            }

            function sendMessage(event) {
                event.preventDefault(); // Evita el comportamiento predeterminado del formulario

                // Comprobar si el usuario está en un grupo
                if (!ws || currentGroup === '') {
                    alert("Por favor, únete a un grupo para enviar mensajes.");
                    return;
                }

                var input = document.getElementById("messageText");
                if (input.value.trim() !== '') {
                    ws.send(input.value);
                    input.value = '';
                }
            }
        </script>

        <style>
            .selected {
                background-color: #007bff; /* Color de fondo para el botón seleccionado */
                color: white; /* Color del texto */
            }
        </style>
    </body>
</html>